{% extends "base.html" %} {% block main %}
<h1 class="text-center">Добавление сценария</h1>
<form class="nt-3" action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.text.label }}<br>
        {{ form.text(class="form-control") }}<br>
        {% for error in form.text.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.choice_1.label }}<br>
        {{ form.choice_1(class="form-control") }}<br>
        {% for error in form.choice_1.errors %}
            <p choice_2="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.choice_2.label }}<br>
        {{ form.choice_2(class="form-control") }}<br>
        {% for error in form.choice_2.errors %}
            <p choice_2="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}
