{% extends "base.html" %} {% block main %}
<div>
    <h2><a href="/api/questions">/api/questions</a></h2>
    <h3 class="h4">Возвращает json объект со всеми вопросами, внесёнными в базу данных</h3>

    <p style="white-space: pre;" class="mb-0"><span class="fw-bold">Формат ответа:</span>
    {
        'questions': [
            {
                'id': ...,              (int)
                'text': ...,            (str)
                'choice_1': ...,        (str)
                'choice_2': ...,        (str)
                'created_date': ...     (datetime)
            }, ...
        ]
    }</p>
    <p class="text-secondary">В случае отсутствия вопросов возвращает ответ: {'error': 'Not found'}</p>
</div>
<div>
    '/api/users'
    Возвращает json объект со всеми пользователями, зарегистрированными в системе

    Формат ответа:
    {
        'users': [
            {
                'id': ...,                  (int)
                'name': ...,                (str)
                'email': ...,               (str)
                'created_date': ...,        (datetime)
                'admin': ...                (int)
            }, ...
        ]
    }

    В случае отсутствия вопросов возвращает ответ: {'error': 'Not found'}
</div>


{% endblock %}